:host {
    display: block;
    padding: 2rem;
    width: 30vw;
}

form {
    display: flex;
    flex-direction: column;
}

section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
}

mat-form-field {
    width: 100%;
}