:host {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    align-items: center;
    height: 20vh;
    position: relative;
    box-sizing: border-box;
    color: #fff;
}

.hidden {
    display: none;
}

h1 {
    
    font-size: 5rem;
    cursor: pointer;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(0.35);
}